@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Karla:700");

body {
  margin: 0 auto;
  width: 80%;
  height: 100vh;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  outline: none;
  font-family: Montserrat, arial;
  font-weight: 500;
  color: #ffffff;
  padding: 0.5em;
  width: 7.5em;
  border: 0;
}

button:hover {
  cursor: pointer;
}

header h1 {
  font-family: Karla, sans-serif;
  font-weight: 600;
  text-align: center;
  color: #2894f4;
  margin-bottom: 2em;
}

/* Main app area */
main {
  background: #ffffff;
  border-radius: 0.75em;
  width: 90%;
  margin-bottom: 2em;
}

/* Copy button */
main span i.fas {
  float: right;
  margin: 0.25em;
  color: #ffffff;
  font-size: 1.25em;
  background-color: #000000;
  border-radius: 3px 0.5em 3px 3px;
  padding: 0.5em;
  cursor: pointer;
}

/* Copy button */
main span i.fas:hover {
  background-color: #888888;
}

/* Container for quotes and their authors */
#quote-box {
  color: #333333;
  min-height: 10em;
  height: auto;
  padding: 2em 1em;
  width: 100%;
}

#content {
  font-family: Karla, sans-serif;
  font-size: 24px;
  text-align: center;
}

#author {
  margin-top: 1em;
  text-align: center;
  font-family: sans-serif;
  font-style: italic;
}

/* Button Area */
div.button {
  display: flex;
  justify-content: space-between;
}

/* Get Quote Button */
button#get-quote {
  color: #ffffff;
  background-color: #37eb4f;
  border-bottom-right-radius: 0.75em;
}

button#get-quote:hover {
  background-color: #1bcc41;
}

/* Tweet Quote Button */
button#tweet-quote {
  background-color: #2894f4;
  float: left;
  text-align: center;
  border-bottom-left-radius: 0.75em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button#tweet-quote:hover {
  background-color: #117cda;
}

footer {
  text-align: center;
  margin: 2em 0;
  font-family: Montserrat, sans-serif;
  color: #ffffff;
}

footer .my-name {
  color: white;
  text-decoration: underline #117cda;
}

footer .fa-heart {
  color: #ff3d3d;
}

footer div a {
  color: #aaaaaa;
  margin: 0 1em;
  font-size: 1.5em;
  transition: 0.2s;
}

footer div a:hover {
  color: #ffffff;
}

@media (max-width: 520px) {
  body {
    width: 100%;
  }

  h1 {
    font-size: 24px;
  }
  #get-quote,
  #tweet-quote {
    width: 100%;
  }
}
